<h3> Página creada por Lucas L. Lair </h3>
<img src="images/foto_perfil.jpg" alt="Lucas L. Lair" >

<h3> Video resumen Recién Muertos </h3>
<video width=330px controls>
   <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
   <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
</video>

<p> Lucas L. Lair es el coordinador del libro Recién Muertos, publicado en 2012. 
    Se trata de una original antología de relatos de zombis que tuvo gran acogida de público y crítica. 
    Actualmente trabajando en la segunda parte, Recién Muertos: Sangre Impura.
</p>
